.footer {
  background: #161619;
  border-radius: 0px 0px 10px 10px;
  width: 317px;
  height: 64px;
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}
